
.leftfloat {
	display: flex;
	justify-content: space-around;
	background-color: #F44337;
	margin: auto;
}
.grid_container {
	display: grid;
	grid-template-columns: 2fr 1fr 3fr;
    padding: auto;
	text-align: center;
	
}
.grid_items {
	width: auto;
}
.info {
	padding: 60px;
grid-column: 1;
}

.title {
	padding: 20px;
grid-column: 3;
} 
img { max-width:60%;
  height: auto;}
  body {
	background-color: #F8C44E;
margin: 0;
padding: 0;
font-family: "canada-type-gibson", sans-serif;
font-weight: 300;
font-style: normal;}
h1 {font-family: "canada-type-gibson", sans-serif;
font-weight: 900;
font-style: normal; 
font-size: 60px;}
h2 {font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
text-decoration-color: none;
   text-decoration: none;}
h3 {font-family: canada-type-gibson, sans-serif;
font-weight: 100;
font-size: 30px;}
h3:hover {color: white;}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
a { color: #F8C44E; }
a:hover { color: white; }
.blockletters {color: black}
.blockletters:hover {color: #F44337;}