header {
	display: flex;
	background-color: #ADA0B7;
margin:0; 
padding:0;}
.title {
	margin: auto;
	text-align: center;
}
.leftfloat {
	display: flex;
	justify-content: space-around;
	background-color: #F7AD00;
	margin: auto;
}
.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr;
    padding: auto;
	
}


img { width: 60%;
	
  }
body {
	background-color: #78B8B5;
margin: 0;
padding: 0;
font-family: "canada-type-gibson", sans-serif;
font-weight: 300;
font-style: normal;}
h1 {font-family: "canada-type-gibson", sans-serif;
font-weight: 900;
font-style: normal; 
font-size: 60px;
color: #332E23}
h2 {font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
text-decoration-color: none;
   text-decoration: none;}
h3 {font-family: canada-type-gibson, sans-serif;
font-weight: 100;
font-size: 30px;}
h3:hover {color: white;}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
a { color: #332E23; }
a:hover { color: white; }

.grid-container {display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}
form { max-width:420px; 
	margin:50px auto; 
	grid-column: 2
}

.feedback-input {
font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 20px;
  line-height: 30px;
  border-radius: 15px;
  background-color: #F7AD00;
  border:5px solid #ADA0B7;
  transition: all 0.3s;
  width:100%;
  box-sizing: border-box;
  outline:0;
	margin: 10px;
	padding: 15px;
}
[type="submit"] {
font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
  width: 100%;
  background:#ADA0B7;
  border-radius:15px;
  border:3px solid #F7AD00;
  cursor:pointer;
  color: #332E23;
  transition: all 0.3s;
	margin: 10px;
	padding: 15px;
 
 
}
[type="submit"]:hover { background: #E8555F; }

/*for block hover*/

