
.leftfloat {
	display: flex;
	justify-content: space-around;
	background-color: #F44337;
	margin: auto;
}

  body {
	background-color: #F8C44E;
margin: 0;
padding: 0;
font-family: "canada-type-gibson", sans-serif;
font-weight: 300;
font-style: normal;}
h1 {font-family: "canada-type-gibson", sans-serif;
font-weight: 900;
font-style: normal; 
font-size: 60px;}
h2 {font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
text-decoration-color: none;
   text-decoration: none;}
h3 {font-family: canada-type-gibson, sans-serif;
font-weight: 100;
font-size: 30px;}
h3:hover {color: white;}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
a { color: #F8C44E; }
a:hover { color: white; }
.blockletters {color: black}
.blockletters:hover {color: #F44337;}
