header {
	display: flex;
	background-color: #ADA0B7;
margin:0; 
padding:0;}
.title {
	margin: auto;
	text-align: center;
}
.leftfloat {
	display: flex;
	justify-content: space-around;
	background-color: #F7AD00;
	margin: auto;
}
.Fightingpits {text-align: center}
.description {text-align: center}
.grid_container1 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: auto;
	text-align: center;
	
}
.Fightingpits {grid-column: 1/3}
.description {grid-column: 1/3}
.pic1 {grid-column: 1}
.pic2 {grid-column: 2}
.pic3 {grid-column: 1}
.pic4 {grid-column: 2}
.onepage {grid-column: 3/5; grid-row: 1}
.description2 {grid-column: 3/5; grid-row: 2}
.pic5 {grid-column: 3; grid-row: 3}
.pic6 {grid-column: 4; grid-row: 3}
.pic7 {grid-column: 3; grid-row: 4}
.pic8 {grid-column: 4; grid-row: 4}

img { max-width:60%;
  height: auto;}
body {
	background-color: #78B8B5;
margin: 0;
padding: 0;
font-family: "canada-type-gibson", sans-serif;
font-weight: 300;
font-style: normal;}
h1 {font-family: "canada-type-gibson", sans-serif;
font-weight: 900;
font-style: normal; 
font-size: 60px;
color: #332E23}
h2 {font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
text-decoration-color: none;
   text-decoration: none;}
h3 {font-family: canada-type-gibson, sans-serif;
font-weight: 100;
font-size: 30px;}
h3:hover {color: white;}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
a { color: #332E23; }
a:hover { color: white; }


/*for block hover*/

