header {
	display: flex;
	background-color: #ADA0B7;
margin:0; 
padding:0;}
.title {
	margin: auto;
	text-align: center;
}
.leftfloat {
	display: flex;
	justify-content: space-around;
	background-color: #F7AD00;
	margin: auto;
}
.grid_container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr ;
	align-items: center;
	justify-content: center;
	text-align: center;
}
.grid_items {padding-left:10px; grid-column: 1;
}
.grid_items2 {padding: 20px; grid-column: 2/4}
img { max-width:80%;}
.MMtitle {grid-column: 2/4; }


body {
	background-color: #78B8B5;
margin: 0;
padding: 0;
font-family: "canada-type-gibson", sans-serif;
font-weight: 300;
font-style: normal;}
h1 {font-family: "canada-type-gibson", sans-serif;
font-weight: 900;
font-style: normal; 
font-size: 60px;
color: #332E23}
h2 {font-family: "canada-type-gibson", sans-serif;
font-weight: 600;
font-style: normal;
font-size: 30px;
text-decoration-color: none;
   text-decoration: none;}
h3 {font-family: canada-type-gibson, sans-serif;
font-weight: 100;
font-size: 30px;}
h3:hover {color: white;}

 a:link {
      text-decoration: none;
}

a:visited {
      text-decoration: none;
}

a:hover {
      text-decoration: none;
}

a:active {
      text-decoration: none;
}
a { color: #332E23; }
a:hover { color: white; }


/*for block hover*/

